@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box; 
} 
.part-1-bar > img{
  width: 100%;
}
.part-1-bar{
  display: flex;
  gap: 11px;
  align-items: center;
}
.bar-element{
  font-weight: 700;
  font-size: 2rem;
  color: rgba(17, 17, 17, 1);
}
ul{
  display: flex;
  list-style: none;
  
}
.nav-anchor{
  text-decoration: none;
  margin-right: 32px;
  font-weight: 500;
  font-size: 1.25rem;
}
.element-1{
color:rgba(254, 163, 1, 1) ;
}
.element-2{
color: rgba(1, 172, 253, 1);
}
.element-3{
color: rgba(5, 212, 223, 1);
}
.element-4{
color: rgba(93, 88, 239, 1);
}
.bar-button{
  font-weight: 600;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(254, 163, 1, 1);
  padding: 10px 10px; 
  width: 197px;
  height: 50px;
  border: none;
  border-radius: 12px;
}
.full-nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
a:hover{
  color: blue;
}
.bar-button:hover{
  background-color: rgb(143, 141, 141);
}
.banner-title{
  font-weight: 700;
  font-size: 3.5rem;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 24px;
}
.orange-font{
color: rgba(251, 186, 86, 1);
}
.skyblue-font{
  color: rgba(1, 172, 253, 1);
}
.banner-description{
  text-align: start;
  font-weight: 400;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 24px;
}
.banner-btn{
  font-weight: 700;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  padding: 10px 10px;
  width: 197px;
  height: 50px;
  border: none;
  border-radius: 12px;
}
.banner-btn:hover{
  background-color: rgb(143, 141, 141) ;
}
.banner-image > img{
  width: 100%;
}
.banner-first-part{
 margin: 122px 0px;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-top: 20px;
 
}
header{
  max-width: 1158.61px; 
  margin: 0 auto;
}
.part-3-bar > img{
  display: none;
}
.curriculum-part{
  max-width: 1158.61px; 
  margin: 0 auto;
}
.curriculum-title{
  text-align: center;
  font-weight: 700;
  font-size: 2.9rem;
  color: rgba(0, 0, 0, 1);
  
}
.curriculum-title-container-1{
  margin-top: 60px;
  margin-bottom: 80px;
}


.curriculum-points{
  display: flex;
  gap: 28.29px;
  margin-top: 80px;  
  text-align: center;
 
}
.point-two> img , .point-three> img{
  padding-top: 52.82px;
  margin-bottom: 32.07px;
}
.point-one> img {
  padding-top: 52.82px;
  margin-bottom: 21px;

}

.point-one-title , .point-two-title , .point-three-title{
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 33.48px;
  color: rgba(0, 0, 0, 1);
}

.point-one-description , .point-two-description , .point-three-description{
  font-weight: 500;
  font-size: 0.94rem;
  line-height: 28.3px;
  margin-bottom: 33.35px;
  color: rgba(128, 128, 128, 1);
}
.point-one-btn{
  border: none;
  color: rgba(100, 200, 255, 1);
  background: none;
  font-weight: 700;
  font-size: 0.94rem;
  margin-bottom: 58.48px;
}
.point-two-btn{
  border: none;
  color: rgba(240, 170, 0, 1);
  background: none;
  font-weight: 700;
  font-size: 0.94rem;
  margin-bottom: 58.48px;
}
.point-three-btn{
  border: none;
  color: rgba(135, 0, 255, 1);
  background: none;
  font-weight: 700;
  font-size: 0.94rem;
  margin-bottom: 58.48px;
}
.point-one , .point-two , .point-three{
  width: 100%;
  padding-left: 40.67px;
  padding-right: 40.67px;
  border-radius: 18.86px;
  box-shadow: 0px 6px 50px 0px rgb(203, 199, 199);
  
}
.point-one-btn:hover , .point-two-btn:hover , .point-three-btn:hover{
  color: rgb(143, 141, 141);
}



.point-one{
  background: linear-gradient( to bottom, rgba(222, 245, 255, 1) , rgba(255, 255, 255, 1) );
}
.point-two{
  background: linear-gradient( to bottom, rgba(255, 244, 220, 1) , rgba(255, 255, 255, 1) );
}
.point-three{
  background: linear-gradient( to bottom, rgba(242, 232, 255, 1) , rgba(255, 255, 255, 1) );
}
.swipe-button{
  margin-top: 80px;
  margin-bottom: 60px;
  display: flex;
  gap:10px;
  justify-content: center;
}
.swipe-button-left , .swipe-button-right{
  border: none;
  background: none;
}
.swipe-button-left > img , .swipe-button-right >img{
  width: 100%;
}
.swipe-button-left:hover , .swipe-button-right:hover{
  background-color: rgb(143, 141, 141);
}
main{
  background:url('../assets/bg.png'), linear-gradient( white 55%, rgb(255, 227, 179) );
}

.cards{
  display: flex;
  gap: 18.73px;
}
.others-card{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 19.31px;
}

.stories{
  max-width: 1158.61px; 
  margin: 0 auto;
}
.title-head{
  font-weight: 700px;
  font-size: 2.9rem;
  text-align: center;
}
.title-head-contaner{
  margin-top: 120px;
  margin-bottom: 80px;
}
 
 .card-1 , .card-2 , .card-3 , .card-4 , .card-5   {
  background-color: white;
  box-shadow: 0px 6px 50px 0px rgb(203, 199, 199);
  width: 100%;
  border-radius: 16px;
 }
 .card-1>img , .card-2>img ,.card-3>img , .card-4>img , .card-5>img{
  border-radius: 16px 16px 0px 0px;
 }

 .card-btn-1{
  width: 174.51px;
  height: 47.93px; 
  border-radius: 47.93px;
  border: none;
  font-weight: 500;
  font-size: 0.96rem;
  color:rgba(255, 255, 255, 1) ;
  background-color: rgba(60, 216, 232, 1);
  position: absolute;
  top: 310px;
  left: 35px;
  
 }
 .card-1{
  position: relative;
 } 
 .card-1-title{
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 38.3px;
  margin-bottom: 51px;
 }
 .card-1-description{
  line-height: 28.8px;
 }
 .card-1-part{
  padding-left: 38px;
  padding-right: 38px;
  margin-top: 61px;
  margin-bottom: 60px;
 }

 .card-btn-2{
  width: 174.51px;
  height: 38.35px; 
  border-radius: 47.93px;
  border: none;
  font-weight: 500;
  font-size: 0.96rem;
  color:rgba(255, 255, 255, 1) ;
  background-color:rgba(149, 178, 38, 1);
  position: absolute;
  top: 155px;
  left: 35px;
  
 }
 .card-2{
  position: relative;
 } 

 .card-2-title{
  font-weight: 700;
  font-size: 0.96rem;
  margin-top: 43px;
  line-height: 28.8px;
  padding-left: 38px;
  padding-right: 54px;
  
 }
 .card-btn-3{
  width: 174.51px;
  height: 38.35px; 
  border-radius: 47.93px;
  border: none;
  font-weight: 500;
  font-size: 0.96rem;
  color:rgba(255, 255, 255, 1) ;
  background-color:rgba(93, 88, 240, 1);
  position: absolute;
  top: 155px;
  left: 35px;
  
 }
 .card-3{
  position: relative;
 } 
 .card-3-title{
  font-weight: 700;
  font-size: 0.96rem;
  margin-top: 43px;
  padding-left: 38px;
  padding-right: 54px;
  line-height: 28.8px;
  
 }
 .card-btn-4{
  width: 179px;
  height: 38.35px; 
  border-radius: 47.93px;
  border: none;
  font-weight: 500;
  font-size: 0.96rem;
  color:rgba(255, 255, 255, 1) ;
  background-color:rgba(149, 178, 38, 1);
  position: absolute;
  top: 162px;
  left: 35px;
 }
 .card-4{
  position: relative;
 } 
 .card-4-title{
  font-weight: 700;
  font-size: 0.96rem;
  margin-top: 43px;
  padding-left: 38px;
  padding-right: 54px;
  line-height: 28.8px;
  
 }

 .card-btn-5{
  width: 127.44px;
  height: 38.35px; 
  border-radius: 47.93px;
  border: none;
  font-weight: 500;
  font-size: 0.96rem;
  color:rgba(255, 255, 255, 1) ;
  background-color:rgba(149, 178, 38, 1);
  position: absolute;
  top: 162px;
  left: 35px;
 }
 .card-5{
  position: relative;
 } 
 .card-5-title{
  font-weight: 700;
  font-size: 0.96rem;
  margin-top: 43px;
  padding-left: 38px;
  padding-right: 54px;
  line-height: 28.8px;
  
 }

 .view-btn{
  font-weight: 700;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  padding: 10px 10px;
  width: 197px;
  height: 50px;
  border: none;
  border-radius: 12px;
  
}
.view-button-container{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}

.common-btn:hover{
  background-color:  rgb(143, 141, 141);
}
.footer-container{
  max-width: 1158.61px; 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer{
  background-color:rgba(1, 172, 253, 1) ;
}
.image-title{
  display: flex;
  gap: 10.7px;
 align-items: center;
 margin-bottom: 35.35px;
}
.footer-logo{
  height: 100%;
  width: 82.9px;
  height: 94px; 
 background-color: white;
 border: none;
 border-radius: 30px; 
}
.footer-title-1{
  font-weight: 700;
  font-size: 2.6rem;
  color:rgba(255, 255, 255, 1) ;
}
.footer-part-description{
  text-align: start;
  font-weight: 400;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
}
.footer-title-2{
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 32px;
  color: rgba(255, 255, 255, 1);
}
.common{
  text-decoration: none;
  color:rgba(255, 255, 255, 1);
}
.common:hover{
  color: blue;
}
.footer-anchors{
  font-weight: 400;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-title-3{
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 32px;
  color:rgba(255, 255, 255, 1) ;
}
.footer-logos{
  display: flex;
  gap:10.15px;
}
.footer-part-1{
  width: 399px;
  margin-top: 123px;
  margin-bottom: 179px;
}
.footer-part-2{
  margin-top: 123px;
}
.footer-part-3{
  margin-top: 123px;
}
.footer-logo-all:hover{
 background-color: ghostwhite;
 box-shadow: 0px 6px 50px 0px rgb(203, 199, 199);
}
.extra-cards{
  display: none;
}
.another-extra-card{
  display: none;
}
marquee{
  font-weight: 400;
  font-size: 1.5rem;
}

/* header part */
@media screen and (max-width:576px){
  .part-1-bar > img{
     width: calc((100% - 16px));
   }
  .bar-element , .bar-button ,.part-2-bar ul{
     display: none;
   }
   .part-3-bar > img{
     display: block;
     width: calc((100% - 16px));
   }
   .banner{
     flex-direction: column-reverse;
     margin: 8px 5px 0px 5px;
   }
   .banner-image > img{
     padding: 20px 10.21px 0px 10.21px;
   }
   .full-nav-bar{
     margin: 0px;
     padding: 16px 12px;
     border: 1px solid rgba(254, 163, 1, 1);
   }
   .banner-title{
     font-size: 2rem;
     margin-bottom: 18px;
   }
   .banner-description> br{
     display: none;
   }
 
   .banner-description{
     font-size: 0.875rem;
     margin-bottom: 28px;
     text-align: center;
   }
 
   .banner-first-part{
     margin: 20px 16px;
     text-align: center;
     margin-bottom: 20px;
    } 
    .banner-btn{
     font-size: 1rem;
     width: 131px;
     height: 42px;
     border-radius: 8px;
     padding: 6px 24px;
   }
 header{
   margin-top: 0px;
 }
 }
@media screen and ( min-width:576px ) and ( max-width:992px ){
 ul{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
} 

.bar-element{
  font-size: 1.3rem;
}
.bar-button{
  font-size: 1.1rem;
  padding: 7px 7px; 
  width: 158px;
  height: 48px;
}
.banner-title{
  font-size: 2.5rem;
  margin-bottom: 27px;
}
.banner-description{
  font-size: 1rem;
  margin-bottom: 27px;
  text-align: start;
}
.banner-first-part{
  margin: 80px 0px;
 }
  .banner{
    padding: 0 12px;
  }
  .full-nav-bar{
    padding: 0 12px;
  }
br{
  display: none;
}
.nav-anchor{
  font-size: 1rem;
}
}
@media screen and ( min-width:992px ) and ( max-width:1100px ){

.banner-description > br{
  display: none;
}
.banner{
 margin: -10px 20px 0px 20px;
 
}
.full-nav-bar{
  margin: 10px 20px;
}
}

@media screen and (max-width:576px){
  .curriculum-points{
    flex-direction: column;
    margin: 0px 31.09px;
  
  }
  .curriculum-title-container-1{
  margin-top: 40px;
  margin-bottom: 20px;
  }  
  .curriculum-title{
    font-size: 1.6rem;
  }
  .point-one>img{
    width: calc( ( 100% - 92.6px )/2 );
    margin-bottom: 22px;
  }
  .point-one-title{
    font-size: 1rem;
    margin-bottom: 22px;
  }
  .point-one-description{
    font-size: 0.64rem;
    margin-bottom: 25.19px;
    line-height: 19.2px;
  }
  .point-one-btn{
    font-size: 0.64rem;
    margin-bottom: 39.19px;
  }
  .point-two>img{
    width: calc( ( 100% - 92.6px )/2 );
    margin-bottom: 22px;
  }
  .point-two-title{
    font-size: 1rem;
    margin-bottom: 22px;
  }
  .point-two-description{
    font-size: 0.64rem;
    margin-bottom: 25.19px;
    line-height: 19.2px;
  }
  .point-two-btn{
    font-size: 0.64rem;
    margin-bottom: 39.19px;
  }
  .point-three>img{
    width: calc( ( 100% - 92.6px )/2 );
    margin-bottom: 22px;
  }
  .point-three-title{
    font-size: 1rem;
    margin-bottom: 22px;
  }
  .point-three-description{
    font-size: 0.64rem;
    margin-bottom: 25.19px;
    line-height: 19.2px;
  }
  .point-three-btn{
    font-size: 0.64rem;
    margin-bottom: 39.19px;
  }
  .swipe-button{
    display: none;
  }
  .card-1{
    display: none;
  }
  /* main-part-2 */
.title-head-contaner{
  margin-top: 80px;
  margin-bottom: 40px;
}
.title-head{
font-size: 1.6rem;

}
.others-card {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 11.31px;
}
.extra-cards{
  display: block;
}
.another-extra-card{
  display: block;
}
.card-2>img ,.card-3>img , .card-4>img , .card-5>img{
  width: 173.27px;
  height: 105.39px;
 }
 .card-2 , .card-3 , .card-4 , .card-5   {
  border-radius: 16px;
  width: 173.27px;
  height: 179.59px;
 }
 .card-btn-2{
  width: 103.91px;
  height: 22.83px; 
  border-radius: 28.54px;
  font-size: 0.57rem;
  position: absolute;
  top: 92px;
  left: 23px;
  
 }
 .card-2{
  position: relative;
  
 } 
 .card-2-title{
  font-size: 0.58rem;
  margin-top: 14.27px;
  line-height: 17.1px;
  padding-left: 23px;
  padding-right: 23px;
  
 }
 .card-btn-3{
  width: 103.91px;
  height: 22.83px; 
  border-radius: 28.54px;
  font-size: 0.57rem;
  position: absolute;
  top: 92px;
  left: 23px;
  
 }
 .card-3{
  position: relative;
 } 
 .card-3-title{
  font-size: 0.58rem;
  margin-top: 14.27px;
  line-height: 17.1px;
  padding-left: 23px;
  padding-right: 23px;
 }
 .card-btn-4{
  width: 103.91px;
  height: 22.83px; 
  border-radius: 28.54px;
  font-size: 0.57rem;
  position: absolute;
  top: 92px;
  left: 23px;
 }
 .card-4{
  position: relative;
 } 
 .card-4-title{
  font-size: 0.58rem;
  margin-top: 14.27px;
  line-height: 17.1px;
  padding-left: 23px;
  padding-right: 23px;
  
 }

 .card-btn-5{
  width: 103.91px;
  height: 22.83px; 
  border-radius: 28.54px;
  font-size: 0.57rem;
  position: absolute;
  top: 92px;
  left: 23px;
 }
 .card-5{
  position: relative;
 } 
 .card-5-title{
  font-size: 0.58rem;
  margin-top: 14.27px;
  line-height: 17.1px;
  padding-left: 23px;
  padding-right: 23px;
  
 }
 .others-card{
  align-items: center;
  max-width: 576px;
  margin: 0 auto;
 }
 .view-btn{
  font-size: 1rem;
  width: 134px;
  height: 30px;
  border: none;
  padding-top: 0px;
  align-items: center;
  line-height: 30px;
  
}
.view-button-container{
  padding-top: 20px;
  padding-bottom: 40px;
}
.image-title{
  display: flex;
  gap: 8.93px;
 align-items: center;
 margin-bottom: 23.88px;
}
.footer-logo{
  height: 100%;
 background-color: white;
 border: none;
 border-radius: 30px; 
}
.footer-title-1{
  font-weight: 700;
  font-size: 2.2rem;
  color:rgba(255, 255, 255, 1) ;
}
.footer-part-description{
  text-align: start;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);

}
.footer-title-2{
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 27.57px;
  color: rgba(255, 255, 255, 1);
}
.footer-anchors{
  font-weight: 400;
  font-size: 1.06rem;
  display: flex;
  flex-direction: column;
  gap: 17.15px;
}
.footer-title-3{
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 36.96px;
  color:rgba(255, 255, 255, 1) ;
}
.footer-logos{
  display: flex;
  gap:8.93px;
}
.footer-part-1{
  margin-top: 65.49px;
  margin-bottom: 32px;
}

.footer-part-3{
  margin-top: 31.98px;
}
.footer-logo-all{
  width: 39.91px;
  margin-bottom: 60.09px;
}
.footer-container{
  flex-direction: column;
  padding: 0px 30px;
}
.footer-part-2 {
  margin-top: 0;
}
.image-title{
  width: 20px;
}
.footer-part-1{
  width: 350px;
}
marquee{
  font-size: 1rem;
}

}
@media screen and ( min-width:576px ) and ( max-width:992px ){
.card-1>img{
  width: 768px;
}
.cards{
  flex-wrap: wrap;
}
.card-2>img , .card-3>img , .card-4>img , .card-5>img {
  width: 374.34px;
}
.card-1-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 38.3px;
  margin-bottom: 30px;
}
.card-2-title {
  margin-bottom: 45px;
}
.card-3-title {
  margin-bottom: 45px;
}
.card-4-title {
  margin-bottom: 45px;
}
.card-5-title {
  margin-bottom: 45px;
}

.card-btn-1{
  top: 450px;
  left: 35px;
}

.card-btn-2 , .card-btn-3 , .card-btn-4 , .card-btn-5{
  top: 210px;
  left: 35px;
}
.image-title{
  display: flex;
  gap: 8.93px;
 align-items: center;
 margin-bottom: 23.88px;
}
.footer-logo{
  height: 100%;
 background-color: white;
 border: none;
 border-radius: 30px; 
}
.footer-title-1{
  font-weight: 700;
  font-size: 2.5rem;
  color:rgba(255, 255, 255, 1) ;
}
.footer-part-description{
  text-align: start;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 1);

}
.footer-title-2{
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 27.57px;
  color: rgba(255, 255, 255, 1);
}
.footer-anchors{
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 17.15px;
}
.footer-title-3{
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 36.96px;
  color:rgba(255, 255, 255, 1) ;
}
.footer-logos{
  display: flex;
  gap:8.93px;
}
.footer-part-1{
  margin-top: 65.49px;
  margin-bottom: 32px;
}

.footer-part-3{
  margin-top: 31.98px;
}
.footer-logo-all{
  width: 42px;
  margin-bottom: 60.09px;
}
.footer-container{
  flex-direction: column;
  padding: 0px 30px;
}
.footer-part-2 {
  margin-top: 0;
}
.image-title{
  width: 20px;
}
.footer-part-1{
  width: 500px;
}
.footer-container{

padding-left: 100px;
}
}